body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  25px 25px 58px #777777,
                -25px -25px 58px #ffffff;
}

.container h2 {
    margin-top: 0;
}

.container p {
    margin-bottom: 0;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture:hover::before {
    content: "\f093";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: FontAwesome;
    font-size: 30px;
    color: #fff;
}

.file-input {
    display: none;
}

.logout-button {
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 10px;
  }
  